@import "_mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100% !important;
  font-family: Poppins, -apple-system, Roboto, sans-serif !important;
  // background-color: $gray_4;
  color: $gray_1 !important;
  font-size: $text_size_3;
  line-height: $spacing_5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $gray_0;
  margin-bottom: $spacing_4;
}

h1 {
  font-size: $text_size_6;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_7;
  }
}

h2 {
  font-size: $text_size_5;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_4;
  }
}

h3 {
  font-size: $text_size_4;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_3;
  }
}

h4 {
  font-size: $text_size_3;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_2;
  }
}

h5 {
  font-size: $text_size_2;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_2;
  }
}

h6 {
  font-size: $text_size_2;
  @media only screen and (min-width: $screen_lg) {
    font-size: $text_size_2;
  }
}
