#password_reset_page {
  margin-top: $spacing_7;
  @media only screen and (min-width: $screen_lg) {
    text-align: center !important;
    margin-top: $spacing_7;
  }
  #reset_password_title {
    padding-top: $spacing_2;
    @media only screen and (min-width: $screen_lg) {
      margin-left: -$spacing_8;
      margin-right: -$spacing_8;
    }
  }
  #reset_password_banner {
    width: 100%;
    max-width: $spacing_12 !important;
  }
  #send_btn {
    width: 100%;
    max-width: $spacing_12;
    margin: auto;
    display: block;
    @media only screen and (min-width: $screen_lg) {
      padding-left: $spacing_8;
      padding-right: $spacing_8;
    }
  }
  .form-control {
    text-align: center;
    width: 100%;
    max-width: $spacing_12;
    margin: auto;
  }
  footer {
    position: fixed;
    bottom: 0;
    padding: $spacing_5;
    font-size: $text_size_0;
  }
  .password_hints {
    text-align: left;
    padding-left: $spacing_3;
    @media only screen and (min-width: $screen_lg) {
      padding-left: $spacing_9;
    }
    padding-top: $spacing_1;
    small {
      display: block;
      @include transition(color);
      &.requirement_met {
        color: $primary_1;
      }
    }
  }
}
