@import "src/styles/_mixins.scss";

aside#sidebar {
  @include box-shadow();
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: $text-size_7;
  padding: $spacing_4;
  img#oreus_sidebar_logo {
    display: none;
  }
  a.sidebar_link {
    .sidebar_link_title {
      display: none;
    }
  }
  @media only screen and (min-width: $screen_md) {
    left: 0;
    top: 0;
    bottom: 0;
    width: 325px;
    display: inline-block;
    img#oreus_sidebar_logo {
      display: block;
    }
    a.sidebar_link {
      margin: $spacing_5 0;
      display: block;
      color: $gray_1 !important;
      font-size: $text_size_4;
      @include transition();
      &.active {
        color: $secondary_1 !important;
      }
      &:hover {
        text-decoration: none;
        color: $secondary_0 !important;
      }
      .sidebar_link_title {
        display: inline-block;
      }
    }
  }
}
